**/__pycache__/*
*.pyc
**/migrations/*
*/media/*
db.sqlite3
.idea/*
common-static/*
docs/*
media/*
*.vscode
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
cc_env/
.env
.DS_Store
.python-version
celerybeat-schedule.db
